<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WordCloudMaker</title>
    <style>
        body {
            background-color: #a0e7e5;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #000080;
            color: white;
            padding: 10px 20px;
            text-align: left;
        }

        .input-group {
            margin: 20px 0;
        }

        .form-control {
            border-radius: 20px;
            padding: 10px;
        }

        .btn-create {
            border-radius: 20px;
            background-color: #0077b6;
            color: white;
            padding: 10px 20px;
        }

        .image-box {
            background-color: #CAF0F8;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;
            height: 300px;
        }

        .btn-cancel, .btn-save {
            border-radius: 20px;
            padding: 10px 20px;
        }

        .btn-cancel {
            background-color: #00b4d8;
            color: white;
        }

        .btn-save {
            background-color: #0077b6;
            color: white;
        }
    </style>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WordCloudMaker.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header">
            <h1>WordCloudMaker</h1>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
